<form [formGroup]="tweetForm">
    <div class="p-d-flex p-flex-column p-ai-center">
        <div class="p-d-flex p-flex-column p-ai-start form-elements">
            <div>
                <H3>Schedule your message</H3>
            </div>
            <div class="p-mb-2 p-d-flex p-flex-column">
                <div>
                    <label class=" p-mb-2" for="message">Message</label>
                </div>
                <div>
                    <textarea
                            id="message"
                            pInputTextarea
                            [formControl]="tweetForm.controls['message']">
                    </textarea>
                </div>
            </div>
            <div class="p-mb-2 p-d-flex p-flex-column">
                <div>
                    <label for="scheduledDate">Scheduled Date</label><br/>
                </div>
                <div>
                    <p-calendar
                            id="scheduledDate"
                            [formControl]="tweetForm.controls['scheduledDate']"
                            dateFormat="dd.mm.yy"
                            showTime="true" hourFormat="24">
                    </p-calendar>
                </div>
            </div>
            <p-button label="Click"
                      (click)="!tweetForm.pristine &&
                  !tweetForm.invalid &&
                  onSubmit(tweetForm.value, idToken)" [disabled]="tweetForm.pristine || tweetForm.invalid"></p-button>
        </div>
    </div>
</form>
<div>
    <h3>List of scheduled messages</h3>
</div>
<p-table [value]="tweets">
    <ng-template pTemplate="header">
        <tr>
            <th>Message</th>
            <th>Registered At</th>
            <th>To Be Sent At</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-tweet>
        <tr>
            <td>{{tweet.message}}</td>
            <td>{{tweet.registeredAt}}</td>
            <td>{{tweet.toBeSentAt}}</td>
        </tr>
    </ng-template>
</p-table>
