<form [formGroup]="tweetForm"
      class="ui form"
      [class.error]="!tweetForm.valid && tweetForm.touched">
    <div class="p-fluid p-grid p-formgrid">
        <div class="p-field p-col-12">
            <label for="message">Message</label>
            <textarea pInputTextarea [formControl]="tweetForm.controls['message']"></textarea>
        </div>
        <div class="p-field p-col-12">
            <label for="scheduledDate">Scheduled Date</label>
            <p-calendar [formControl]="tweetForm.controls['scheduledDate']" dateFormat="dd.mm.yy"></p-calendar>
        </div>
        <p-button label="Click"
                  (click)="!tweetForm.pristine &&
                  !tweetForm.invalid &&
                  onSubmit(tweetForm.value)" [disabled]="tweetForm.pristine || tweetForm.invalid"></p-button>
    </div>
</form>

