/*
NativeScript acceptă DIP-uri (pixeli independenți de dispozitiv),
pixeli (prin px postfix) și procente (suport parțial pentru lățime,
înălțime și marjă) ca unități de măsură.

Unitatea de măsurare recomandată de NativeScript este DIP si este cea folosita implicit.
 */

.form {
    margin-left: 30;
    margin-right: 30;
    flex-grow: 2;
    vertical-align: middle;
}
.date-picker {
    background-color: #cdcccc;
    border-color: #b1afaf;
    border-width: 2;
    margin-top: 10;
    width:90%;
    border-radius: 10;
    color: whitesmoke;
    vertical-align: middle;
}
